<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>All Users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.table-container {
        width: 1250px;
        overflow-x: auto;
    }
    table {
        width: max-content;
    }
    </style>
</head>
<body>
<div >
    <div style="display: flex;">
        <div> <h1>All Users</h1></div>
        <div class="dropdown">
            <label for="action">Select Action:</label>
            <select id="action">
                <option value="insert">Insert</option>
                <option value="update">Update</option>
            </select>
            <button onclick="performAction()">Perform Action</button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="response"></p>
        </div>
    </div>
    <form method="POST" id="actionForm">
        <div class="table-container">

      
    <table id="userTable">
        <tr>
            <th>select</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>shared_phone_number</th>
            <th>photo_url</th>
            <th>active</th>
            <th>created_at</th>
            <th>custom_role_id</th>
            <th>default_group_id</th>
            <th>iana_time_zone</th>
            <th>id</th>
            <th>last_login_at</th>
            <th>locale</th>
            <th>locale_id</th>
            <th>moderator</th>
            <th>only_private_comments</th>
            <th>organization_id</th>
            <th>report_csv</th>
            <th>restricted_agent</th>
            <th>role</th>
            <th>role_type</th>
            <th>shared</th>
            <th>shared_agent</th>
            <th>suspended</th>
            <th>ticket_restriction</th>
            <th>time_zone</th>
            <th>updated_at</th>
            <th>url</th>
            <th>verified</th>            
        </tr>
        <% usersData.forEach(function(user) { %>
            <tr>
                <td><input type="checkbox" name="user_ids" value="<%= user.id %>"></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><%= user.shared_phone_number %></td>
                <td><%= user.photo %></td>
                <td><%= user.active %></td>
                <td><%= user.created_at %></td>
                <td><%= user.custom_role_id %></td>
                <td><%= user.default_group_id %></td>
                <td><%= user.iana_time_zone %></td>
                <td><%= user.id %></td>
                <td><%= user.last_login_at %></td>
                <td><%= user.locale %></td>
                <td><%= user.locale_id %></td>
                <td><%= user.moderator %></td>
                <td><%= user.only_private_comments %></td>
                <td><%= user.organization_id %></td>
                <td><%= user.report_csv %></td>
                <td><%= user.restricted_agent %></td>
                <td><%= user.role %></td>
                <td><%= user.role_type %></td>
                <td><%= user.shared %></td>
                <td><%= user.shared_agent %></td>
                <td><%= user.suspended %></td>
                <td><%= user.ticket_restriction %></td>
                <td><%= user.time_zone %></td>
                <td><%= user.updated_at %></td>
                <td><%= user.url %></td>
                <td><%= user.verified %></td>
            </tr>
        <% }); %>
    </table>
</div>
    </form>
    <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#userTable').DataTable({
                paging: true, // Enable pagination
                lengthMenu: [5, 10, 20, 50], // Number of rows per page options
                pageLength: 10, // Initial number of rows per page
            });
        });
    </script>
    
    <script>
        function performAction() {
            var action = document.getElementById("action").value;
            var form = document.getElementById("actionForm");
            var checkboxes = form.querySelectorAll('input[name="user_ids"]:checked');
            var selectedData = [];
    
            var headers = []; // Array to store column names
    
            // Retrieve column names from the table header
            var headerRow = form.querySelector('tr');
            var headerCells = headerRow.getElementsByTagName("th");
            for (var i = 0; i < headerCells.length; i++) {
                headers.push(headerCells[i].textContent);
            }
    
            checkboxes.forEach(function(checkbox) {
                var rowData = {};
                var row = checkbox.parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                for (var i = 0; i < cells.length; i++) {
                    rowData[headers[i]] = cells[i].textContent;
                }
                selectedData.push(rowData);
            });
    
            if (selectedData.length > 0) {
                console.log("Selected Rows Data:", selectedData);
                fetch('/insertUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({
            action: action,
            selectedData: selectedData
        })
            })
                .then(response => {
                    console.log(response)
                    if(response.ok){
                        showModal();
                document.getElementById('response').textContent = 'user successfully backed up';
                // Hide modal after 3 seconds
                hideModalAfterDelay(3000);
                    }
                    if (!response.ok) {
                        console.log("AAA")
                        throw new Error('Network response was not ok');
                    }
                    // Handle successful response here
                })
                .catch(error => {
                    // Handle errors here
                    console.error('There was a problem with the fetch operation:', error);
                });
                alert("Selected Rows Data:\n" + JSON.stringify(selectedData));
                // Now you can perform your backend tasks with selectedData
                // For example, you can send it to the server via AJAX
            } else {
                alert("No rows selected!");
            }
        }
    </script>
      <script>
        function showModal() {
    document.getElementById('myModal').style.display = 'block';
}

// Close modal function
function closeModal() {
    document.getElementById('myModal').style.display = 'none';
}

// Function to hide modal after a certain time
function hideModalAfterDelay(delay) {
    setTimeout(function() {
        closeModal();
    }, delay);
}
    </script>
</div>
</body>
</html>
